.form-control {
    border-top-color : transparent; 
    border-left-color: transparent; 
    border-right-color: transparent;  
    border-bottom-color:silver;    
    max-width: 288px;
    max-height: 80px; 
}
body{
    text-align: center; 
}
.form-group {
  margin-bottom: 0px;
}
h1{
    font-family: 'Montserrat'; 
    font-size: 22px; 
    text-align: center;
    line-height:1.2px; 
    border-bottom: 2px;
    margin-top: 230px; 
    margin-bottom :40px; 
    border-bottom-color: #fa80d2;
}
/*.btn-success{
    border-radius: 15px;
    width: 180px;
    height: 50px; 
    text-align: center;
    background: linear-gradient(to bottom right, red,  magenta, #802BB1, lightblue);
}*/
button {
    margin: 2em auto;
    display: block;
    -webkit-appearance: none;
    border: 6px solid rgba(255, 255, 255, 0.45);
    border-radius: 50px;
    padding: 1em 3em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    position: relative;
    color: #fff;
  }
  button:before {
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(14px);
  }
  button:after {
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(14px);
  }
  
  .button1 {
    background-image: linear-gradient(90deg, #fa80d2, #fed757);
  }
  .button1:before {
    background-image: linear-gradient(90deg, #fa80d2, transparent);
  }
  .button1:after {
    background-image: linear-gradient(90deg, transparent, #fed757);
  }
  
  