<!DOCTYPE html>
<html>
<head>
<style>
div.background {
  background: rgba(23, 42, 75, 0.452);
  border: 2px solid rgba(63, 98, 161, 0.301);
  /* border-radius: 15px; */
  padding: 20px;
}

div.transbox {
  margin: 30px;
  background-color: #d8dce7dc;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 0.7;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body>

<div class="background">
  <div class="transbox" id="transp">
    <h2>“With the IoT, we’re headed to a world where things aren’t liable to break catastrophically – or at least we’ll have a hell of a heads’ up. We’re headed to a world where our doors unlock when they sense us nearby.” – Scott Weiss</h2>
    <!-- <button (click) = "firstClick()" id="colorChange">Make Account</button> -->

    <!-- <button-- (copy) = "copied()">Ree</button-->
    <p id="main_text">
      <a routerLink = "/login-page"><br/>Create Account</a>

    </p>
  </div>
</div>

</body>
</html>

<!-- this stuff goes in between make an account and make one!-->

