<!DOCTYPE html>
<html>
<head>
<style>
div.background {
  background: rgba(23, 42, 75, 0.452);
  border: 2px solid rgba(63, 98, 161, 0.301);
  /* border-radius: 15px; */
  padding: 20px;
}

div.transbox {
  margin: 30px;
  background-color: #d8dce7dc;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 0.7;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body>

<div class="background">
  <div class="transbox" id="transp">
    <h1>Make an account.</h1>
    <!-- <button (click) = "firstClick()" id="colorChange">Make Account</button> -->

    <!-- <button-- (copy) = "copied()">Ree</button-->
    <p id="main_text">This page should be the same as "Login Page".<br/><br/>Once a button is made properly for this, follow these directions
      to delete this component.<br/> (this link isn't really working right now but just copy the link address for now)
      <a routerLink = "https://stackoverflow.com/questions/41354755/what-is-the-best-way-to-delete-a-component-with-cli"><br/>stack overflow page</a>

    </p>
  </div>
</div>

</body>
</html>

<!-- this stuff goes in between make an account and make one!-->

