#transp {
  text-align: center;
}


body, html {
  height: 100%;
  margin: 0 auto;
  // background: rgb(228, 198, 245);
  background: url(../../../images/water-movement.png);
}

.about {
  align-self: left;
  line-height: 2 ;
}
