<!-- <router-outlet></router-outlet>-->
<app-accountform></app-accountform>
<div class="container">
    <h1> Create An Account</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>
 
      <div class="form-group">
        <label for="email">Alter Ego</label>
        <input type="text" class="form-control" id="email">
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>