<header id="topbar">
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
        <li><a routerLink="/account">Log in</a></li>
        <!-- <li><a routerLink="/login-page">Login Page</a></li> -->
        <li><a routerLink="/faq">faq</a></li>
        <li><a routerLink="/data-display">Data Display</a></li>
      </ul>
    </nav>
  </div>
</header>
