<div class = "header">HackMe</div>
<!-- <rect class = "rectangle"></div>
<svg width="400" height="110">
  <rect width="300" height="100" style="fill:black;stroke-width:3;stroke:rgb(0,0,0)" />
</svg> -->
<div class="example-button-row" align = "center">
  <button mat-raised-button>Main</button>
  <button mat-raised-button color="primary">About</button>
  <button mat-raised-button color="primary">FAQ</button>
  <button mat-raised-button color="primary">Log-in</button>
  <button mat-raised-button color="primary">Add Device</button>
  <button mat-raised-button color="primary">MeHacked</button>
</div>

<h3> This is the main page. </h3>

<!-- <nav>
  <a routerLink="/main">main</a>
</nav>

<router-outlet></router-outlet> -->
