<!DOCTYPE html>
<html>
<head>
<style>
div.background {
  background: rgba(23, 42, 75, 0.452);
  border: 2px solid rgba(63, 98, 161, 0.301);
  /* border-radius: 15px; */
  padding: 20px;
}

div.transbox {
  margin: 30px;
  background-color: #d8dce7dc;
  border: 1px solid black;
  border-radius: 15px;
  opacity: 0.7;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body>

<div class="background">
  <div class="transbox" id="transp">
    <!-- <h1 [class.black]="h1Style">Home</h1> -->
    <h1 [ngClass]="{
      'black': h1Style,
      'large': !h1Style
    }">Hack Your Mind.</h1>

    <p id="main_text">The HackMe project is an application of brain computer interface (BCI) technology designed for consumer appeal. Wearing an EEG headset concealed with a stylish beanie or other headwear, the consumer’s brain waves are processed and the signal features extracted and classified to indicate a certain mood or a conscious thought as a command. Recent research on BCI technology heavily focuses on medical applications such as prosthetic limbs and disorders of the nervous system. The HackMe product, however, is designed for ease of everyday life and is subsequently beneficial to those who rely on BCI for medical purposes as an increase of BCI products on the market will lower competitor costs. The clean, cost efficient design of HackMe relies on signal processing, feature extraction, feature classification, Internet of Things (IoT) and User Interface (UI).<p id="main_text">
    <button (click) = "firstClick()" id="colorChange">Change Color</button>

    <!-- <button (copy) = "copied()">Ree</button> -->
  </div>
</div>

</body>
</html>
