        <div class="container">
          <div [hidden] = "submitted">
                <h1> Create An Account</h1>
                <form (ngSubmit) = "onSubmit()" #accountForm ="ngForm">
                    {{diagnostic}}
                  <div class="form-group">
                    <label for="userid">User ID</label>
                    <input type="text" class="form-control" id="userid"  required
                    [(ngModel)]="model.userid" name = "userid">
                  </div>
                  TODO: remove this: {{model.userid}}
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" required
                    [(ngModel)] = "model.password" name = "password">
                  </div>
                  <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" required
                        [(ngModel)] = "model.name" name = "name"
                        #name = "ngModel">
                        <div [hidden]="name.valid || name.pristine"
                    class="alert alert-danger">
                      Name is required
                        </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" required
                    [(ngModel)] = "model.email" name = "email">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone"
                    [(ngModel)] = "model.phone" name = "phone">
                  </div>
                  <div class="form-group">
                    <label for="productid">Product ID</label>
                    <input type="text" class="form-control" id="productid"
                    [(ngModel)] = "model.productid" name = "productid">
                  </div>
                  <button class="button1" [disabled]="!accountForm.form.valid"> Submit</button>
                  
                </form>
            </div>
            </div>
            
